{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Auteurs</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Prenom</th>
                                <th>Nom</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for auteur in auteurs %}
                                <tr>
                                    <td>{{ auteur.id }}</td>
                                    <td>{{ auteur.prenom }}</td>
                                    <td>{{ auteur.nom }}</td>
                                    <td>
                                        <a href="{{ path('auteur_show', {'id': auteur.id}) }}">
                                            <button class="btn btn-default">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                        <a href="{{ path('auteur_edit', {'id': auteur.id}) }}">
                                            <button class="btn btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <a href="{{ path('auteur_new') }}">
                            <button class="btn btn-success">
                                Create new
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<!-- DATA TABLE SCRIPTS -->
<script src="{{ asset('js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset("js/dataTables/dataTables.bootstrap.js") }}"></script>
    <script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>
{% endblock %}
