
<nav class=" navbar-default navbar-side" role="navigation"  >
    <div class="sidebar-collapse collapse in">
        <ul class="nav" id="main-menu">

            <li>
                <a href="{{path('auteur_index')}}"><i class="fa fa-user"></i> Auteurs</a>
            </li>
            <li>
                <a href="{{path('editeur_index')}}"><i class="fa fa-pencil"></i>Editeurs </a>
            </li>
            <li>
                <a href="{{path('categorie_index')}}"><i class="fa fa-folder"></i> Categories</a>
            </li>
            <li>
                <a href="{{path('livre_index')}}"><i class="fa fa-book"></i> Livres</a>
            </li>
            <li>
                <a href="{{path('all_empruntes')}}"><i class="fa fa-book"></i> Empruntes</a>
            </li>
            <li>
                <a href="{{path('front_office')}}"><i class="fa fa-book"></i> Front Office</a>
            </li>


        </ul>

    </div>

</nav>
